<h1>Enter your change:</h1>
<form action="/results">
  <div class="form-group">
    <label for="user_input">
      <input type="text" name="user_input">
    </label>
  </div>
  <button type="submit" id="calculate" class="btn">Ch-ching!</button>
</form>
